body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

.container {
    width: 300px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width:100%;
    padding: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

#resultado {
    margin-top: 15px;
    font-weight: bold;
}

.aviso {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: red;
}